.nav{
    display: "flex";
    flex-direction:"";
    gap: 10;
    align-items: center;
    }
.about, .home, .favorites {
    font-family: "Lucida Console", Monaco, monospace;
    color: rgb(7, 219, 42);
    border: 2px solid rgb(14, 148, 2);
    border-radius: 2px;
    padding: 5px 5px;
    display: inline-block;
    font-size: 20px;
    margin: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 0 10px #eceeec;
    transition: ease-out 0.4s;
}


